body {
    overflow: hidden;
    margin: 0;
    font-family: 'Acme';
}

#startScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#startScreen div {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;

    height: 80vh;
    width: 90vw;
    background-color: white;
}

#main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: .3s;
}

#main-game.frozen {
    filter: blur(9px);
}

#timer {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .4s;
}

.answerCorrect {
    color: green;
}

.answerIncorrect {
    color: red;
}

#header {
    text-align: center;
}

.answer-button {
    flex-basis: 45%;
    transition: .2s;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 80vw;
    gap: 2px;
    justify-content: center;
}

#scoreP {
    margin-top: auto;
    user-select: none;
    font-family: 'Noto Sans';
}

#question {
    padding: 0 4%;
    text-align: center;
    font-size: 1.8em;
}

.timerInd {
    animation-duration: 2s;
    animation-name: fadeUp;
    animation-fill-mode: forwards;
    position: absolute;
}

@keyframes fadeUp {
    from {
        color: inherit;
        margin-bottom: 0;
        opacity: 100%;
    }

    to {
        color: green;
        margin-bottom: 5vh;
        opacity: 0%;
    }
}

.correct {
    background-color: green;
    transform: rotateY(180deg);
}

.correct span {
    transition: .2s;
    display: inline-block;
    transform: rotateY(180deg);
}

.incorrect {
    background-color: red;
    transform: rotateX(180deg);
}

.incorrect span {
    display: inline-block;
    transform: rotateX(180deg);
}