body {
    overflow: hidden;
    margin: 0;
    font-family: 'Acme';
}

#main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#timer {
    user-select: none;
}

#header {
    text-align: center;
}

.answer-button {
    flex-basis: 45%;
    transition: .2s;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 80vw;
    gap: 2px;
    justify-content: center;
}

#scoreP {
    margin-top: auto;
    user-select: none;
}

#question {
    padding: 0 4%;
    text-align: center;
    font-size: 1.8em;
}

.correct {
    background-color: green;
    transform: rotateY(180deg);
}

.correct span {
    transition: .2s;
    display: inline-block;
    transform: rotateY(180deg);
}

.incorrect {
    background-color: red;
    transform: rotateX(180deg);
}

.incorrect span {
    display: inline-block;
    transform: rotateX(180deg);
}