body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leaderboardControlsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#activitiesCont {
    margin-top: auto;
    width: 100%;
}

.ysaActivity {
    height: 60px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 20px black;
    /*-1px -1px black,
    1px 1px black,
    1px -1px black,
    -1px 1px black;*/
    font-size: larger;
}

#familyHistory {
    background-image: url('../images/tree-branches.jpg');
    background-size: cover;
}

#institute {
    background-image: url('../images/scriptures.jpg');
    background-size: cover;
}

#church {
    background-image: url('../images/church.jpg');
    background-size: cover;
    background-position: 50%;
}