body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

#mainContentCont {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leaderboardControlsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#submitButton {
    margin-bottom: 9px;
}

#scoreP {
    margin-bottom: 0;
}

/*#selectBox {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0px 20px;
    select {
        flex-grow: 1;
    }
    span {
        flex-grow: 1;
        text-align: center;
        vertical-align: center;
    }
}*/

#backButton, #submitButton {
    width: 80vw;
}

#playerList {
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
    width: 60%;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 8px;
}

#nameInstruct {
    text-align: center;
}

.player {
    padding: 6%;
    background-color: #BB4430;
    color: #EFE6DD;
    text-align: center;
    width: 100%;
}

.player#newPlayer {
    animation-name: new-player;
    animation-duration: 2s;
}

@keyframes new-player {
    from {
        background-color: #7EBDC2;
    }

    to {
        background-color: #BB4430;
    }
}

@media only screen and (min-width: 700px) {
    #playerList {
        width: 420px;
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 450px) {
    #backButton, #submitButton {
        width: 360px;
    }
}