body {
    background-color: #FFFDD0;
    color: #39393A;
    font-family: 'Acme';
}

*::selection {
    background: #BCD979;
}

button {
    background-color: #BCD979;
    border: none;
    box-shadow: 0 0 5px black;
    color: #39393A;
    font-family: 'Bebas Neue';
    font-size: 1.2em;
    padding: 5px;
}

select {
    font-family: 'Acme';
    height: 30px;
}

@media only screen and (min-width: 700px) {
    button {
        font-size: 1.3em;
    }
}