body {
    background-color: #FFFDD0;
    color: #39393A;
    font-family: 'Acme';
}

button {
    background-color: #BCD979;
    border: none;
    box-shadow: 0 0 5px black;
    color: #39393A;
    font-family: 'Bebas Neue';
    font-size: 1.2em;
}