/*YSA Activity Stuff*/
#activitiesCont {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    .activityHeading {
        text-align: center;
        margin-bottom: 0;
        flex-basis: 100;
    }
}

#activityRow {
    display: flex;
    flex-direction: column;
}

.ysaActivity {
    height: 60px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 20px black;
    /*-1px -1px black,
    1px 1px black,
    1px -1px black,
    -1px 1px black;*/
    font-size: larger;
    user-select: none;
    background-size: cover;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black;
        text-align: center;
}

#familyHistory {
    background-image: url('../images/tree-branches.jpg');
}

#institute {
    background-image: url('../images/bricks.jpg');
}

#church {
    background-image: url('../images/church.jpg');
    background-position: 50%;
}

#missionary {
    background-image: url('../images/scriptures.jpg');
}

#popupCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.418);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: .15s;
    color: black;
    /* Stretch across the page */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popupBody {
    background-color: #FFFDD0;
    height: 80vh;
    width: 80vw;
    padding: 15px;
    font-size: large;
    font-family: Noto Serif;

    .scrollCont {
        overflow-y: scroll;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    display: flex;
    flex-direction: column;
}

.header {
    font-family: Acme;
    margin: -15px;
    color: white;
    user-select: none;
    z-index: 1;

    h1 {
        margin: 0;
        padding: 15px;
    }
}

/*.popupBody p {
    padding: 12px;
    background-color: white;
}*/

.popup.open {
    z-index: 2;
    opacity: 100;
}

@media only screen and (min-width: 700px) {
    #activityRow {
        column-gap: 10px;
        flex-direction: row;
    }

    .ysaActivity {
        height: 80px;
    }
}

@media only screen and (min-width: 600px) {
    .popupBody button {
        width: 60px;
    }
}