body {
    overflow: hidden;
    margin: 0;
}

#main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#header {
    text-align: center;
}

.answer-button {
    flex-basis: 50%;
    transition: .2s;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 80vw;
}

#scoreP {
    margin-top: auto;
}

#question {
    padding: 0 4%;
    text-align: center;
}

.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}