#backgroundCont {
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}

.backgroundSquare {
    flex-basis: 20%;
}

@media only screen and (max-width: 550px) {
    .backgroundSquare {
        flex-basis: 25%;
    }
}